.env
.env.backup.*
.venv
.venv.backup.*
__pycache__/

.vscode

# MacOS system files
.DS_Store

# Logging
wandb/
wandb.backup.*

# Output directories
outputs/
outputs.backup.*

docs/

# Hydra files
hydra_plugins/

# Generated SLURM task list
tasks_paper_experiments.txt
logs/slurm/
